<!-- Join -->
<div id="Join" class="container-fluid text-center">
  <h1>JOIN US</h1>
  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
       veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
       commodo consequat.
       </p>
    <div class="col-sm-offset-3">
      <%= render 'partrials/signup_form' %>
    </div>
  </div>
</div>
