<div id="About" class="container-fluid text-center">
  <h1>ABOUT PROJECT</h1>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-6">
        <h2>What is this?</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="col-md-6">
        <h2>For whom?</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="col-md-12">
        <h2>How does it work?</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.
        </p>
      </div>
      <div class="col-md-12">
        <h2>What is next?</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.
        </p>
      </div>
      <div class="container">
        <a href="#" class="btn btn-warning btn-lg" id="lets-start-button">
          <span class="glyphicon glyphicon-certificate"></span>
            OK, lets start!
          <span class="glyphicon glyphicon-certificate"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Join Container -->
<div id="Join" class="container-fluid text-center">
  <h1>JOIN US</h1>
  <div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
       veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
       commodo consequat.
       </p>
    <div class="col-sm-offset-3">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="name" class="col-sm-3 control-label">
            Your name is:
          </label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="name">
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-3 control-label">
            Your e-mail is:
          </label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="email">
          </div>
        </div>
        <span class="h-divider"></span>
        <div class="form-group">
          <label for="password" class="col-sm-3 control-label">
            Password:
          </label>
          <div class="col-sm-4">
            <input type="password" class="form-control" id="password">
          </div>
        </div>
        <div class="form-group">
          <label for="password_c" class="col-sm-3 control-label">
            Confirm your password:
          </label>
          <div class="col-sm-4">
            <input type="password" class="form-control" id="password_c">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-3">
            <button type="submit" class="btn btn-default btn-lg"
                    id="submit-button">
              <span class="glyphicon glyphicon-send"></span> Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Contact Container -->
<div id="Contact" class="container-fluid text-center">
  <h1>CONTACT</h1>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-book logo-glyphicon"></span>
      <h2>Study</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
       veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
       commodo consequat.
       </p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-pencil logo-glyphicon"></span>
      <h2>Teach</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
       veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
       commodo consequat.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-bitcoin logo-glyphicon"></span>
      <h2>Donate</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
       veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
       commodo consequat.</p>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="container-fluid text-center">
  <p></p>
</footer>

<script src="assets/custom.js"></script>
