@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {
  font-size: 18px;
}

h1 {
  color: #f0ad4e;
  font-size: 2.5em;
  letter-spacing: -1px;
  margin: 50px 0 30px;
  text-align: center;
  font-weight: normal;
  line-height: 1;
}

div[class~="container-fluid"]:nth-child(2) {
  padding-top: 60px;
  background-color: #1abc9c; /* Green */
  color: #ffffff;
}

div[class~="container-fluid"]:nth-child(3) {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
div[class~="container-fluid"]:nth-child(4) {
    background-color: #ffffff; /* White */
    color: #555555;
}
footer {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}

.container-fluid {
    height: 100% !important;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    text-align: center;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.row div {
  margin-bottom: 50px;
}

#lets-start-button {
  margin: 30px 0 0 0;
  font-size: 1.5em;
  border-radius: 5px;
}

#submit-button {
  margin-top: 30px;
}

#v-divider {
  font-size: 2em;
  display: block;
  margin: 5px;
  color: #f5f6f7;
}

form {
  line-height: 1;
  font-style: italic;
  margin-top: 50px;
}

.h-divider {
  display: block;
  border-bottom: 3px solid #f0ad4e;
  width: 70%;
  margin: 20px;
}

.logo-glyphicon  {
  color: #1abc9c;
  font-size: 50px;
}

/* animation */

.slideanim {
  visibility:hidden;
}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
