<!-- Contact -->
<div id="Contact" class="container-fluid text-center">
  <h1>CONTACT</h1>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-book logo-glyphicon"></span>
      <h2>Study</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
       veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
       commodo consequat.</p>
       </p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-pencil logo-glyphicon"></span>
      <h2>Teach</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
       veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
       commodo consequat.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-bitcoin logo-glyphicon"></span>
      <h2>Donate</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
       tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
       veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
       commodo consequat.</p>
    </div>
  </div>
</div>
